<div class="nested-fields">
    <div class="field">
        <div class="contatof">
            <span>CEP:</span>
            <%= f.text_field :cep, class: 'endereco-text' %>
                <%= link_to_remove_association('Excluir', f ) %>
        </div>
        <div class="contatof">
            <span>Endereço:</span>
            <%= f.text_field :endereco, class: 'endereco-text' %>
                <%= link_to_remove_association('Excluir', f ) %>
        </div>
        <div class="contatof">
            <span>Numero:</span>
            <%= f.text_field :numero, class: 'endereco-text' %>
                <%= link_to_remove_association('Excluir', f ) %>
        </div>
        <div class="contatof">
            <span>Cidade:</span>
            <%= f.text_field :cidade, class: 'endereco-text' %>
                <%= link_to_remove_association('Excluir', f ) %>
        </div>

        <div class="contatof">
            <span>UF:</span>
            <%= f.text_field :uf, class: 'endereco-text' %>
                <%= link_to_remove_association('Excluir', f ) %>
        </div>
        <div class="contatof">
            <span>Pais:</span>
            <%= f.text_field :pais, class: 'endereco-text' %>
                <%= link_to_remove_association('Excluir', f ) %>
        </div>
        <div class="contatof">
            <span>Complemento:</span>
            <%= f.text_field :complemento, class: 'endereco-text' %>
                <%= link_to_remove_association('Excluir', f ) %>
        </div>
    </div>

</div>