<p id="notice"><%= notice %></p>

<p>
  <strong>Contato:</strong>
  <%= @contato.contato %>
</p>

<p>
  <strong>Visitante:</strong>
  <%= @contato.visitante %>
</p>

<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
