<div class="formuser">
    <h3>Investidor e Encontre Novas Oportunidades com Novas Tecnologias</h3>
    <%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>

        <% if @user.errors.any? %>
            <div class="alert alert-error">
                <h3>
                    <%= pluralize(@user.errors.count, "error") %> prohibited this job from being saved:</h3>

                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li>
                            <%= msg %>
                        </li>
                        <% end %>
                </ul>
            </div>
            <% end %>

                <div class="control-group">
                    <%= f.label :name, class: 'control-label' %>
                        <div class="controls">
                            <%= f.text_field :name %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :Sobrenome, class: 'control-label' %>
                        <div class="controls">
                            <%= f.text_field :sobrenome %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :'Empresa que Trabalha', class: 'control-label' %>
                        <div class="controls">
                            <%= f.text_field :empresa %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :email, class: 'control-label' %>
                        <div class="controls">
                            <%= f.text_field :email %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :password, class: 'control-label' %>
                        <div class="controls">
                            <%= f.password_field :password %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :password_confirmation, class: 'control-label' %>
                        <div class="controls">
                            <%= f.password_field :password_confirmation %>
                        </div>
                </div>
                <%=f.hidden_field :tipousuario_id, :value => 4 %>
                    <%=f.hidden_field :tipousuario_id, :value => 2 %>
                        <%= f.fields_for :perfil  do |perfil_fields| %>

                            <%= perfil_fields.hidden_field :descricao, :value => ' ' %>
                                <%= perfil_fields.hidden_field :objetivo, :value => ' ' %>
                                    <%= perfil_fields.hidden_field :profissao, :value => ' ' %>
                                        <%= perfil_fields.hidden_field :conhecimentos, :value => ' ' %>
                                            <%= perfil_fields.hidden_field :habilidades, :value => ' ' %>
                                                <%= perfil_fields.hidden_field :formacao, :value => ' ' %>

                                                    <%end%>

                                                        <div class="control-group controls">
                                                            <%= f.submit class: 'btn btn-primary' %>
                                                        </div>

                                                        <% end %>
</div>