<%= form_for(@parceiro) do |f| %>
    <div class="container row">
        <% if @parceiro.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@parceiro.errors.count, "error") %> prohibited this parceiro from being saved:</h2>

                <ul>
                    <%= @parceiro.errors.full_messages.each do |message| %>
                        <li>
                            <%= message %>
                        </li>
                        <% end %>
                </ul>
            </div>
            <% end %>
                <div class="check-box">

                    <%= f.label :'Cliente:' %>
                        <%= f.check_box :cliente, class: 'check-box2' %>

                            <%= f.label :'Forncedor:' %>
                                <%= f.check_box :fornecedor, class: 'check-box2' %>
                </div>
                <div class="field">
                    <%= f.label :'Nome:' %><br>
                        <%= f.text_field :nome %>
                </div>
                <div class="check-box">

                    <%= f.label :'Pessoa Física:' %>
                        <%= f.check_box :fisica_juridica, class: 'check-box2' %>
                </div>
                <div class="field">
                    <%= f.label :'CNPJ:' %><br>
                        <%= f.text_field :cpf_cnpj %>
                </div>
                <div class="field">
                    <%= f.label :'RG:' %><br>
                        <%= f.text_field :rg %>
                </div>
                <div class="field">
                    <%= f.label :'Telefone:' %><br>
                        <%= f.text_field :telefone %>
                </div>
                <div class="field">
                    <%= f.label :'Apelido:' %><br>
                        <%= f.text_field :apelido %>
                </div>

                <div class="field">
                    <%= f.label :'Data Nascimento:'%><br>
                        <%= f.date_select :dt_nacimento %>
                </div>


                <div class="field">
                    <%= f.label :'CEP:' %><br>
                        <%= f.text_field :cep %>
                </div>
                <div class="field">
                    <%= f.label :'Endereco:' %><br>
                        <%= f.text_field :endereco %>
                </div>
                <div class="field">
                    <%= f.label :'Numero:' %><br>
                        <%= f.text_field :numero %>
                </div>
                <div class="field">
                    <%= f.label :'IBGE:' %><br>
                        <%= f.text_field :ibge %>
                </div>
                <div class="field">
                    <%= f.label :'Bairro:' %><br>
                        <%= f.text_field :bairro %>
                </div>
                <div class="field">
                    <%= f.label :'Cidade:' %><br>
                        <%= f.text_field :cidade %>
                </div>
                <div class="field">
                    <%= f.label :'UF:' %><br>
                        <%= f.text_field :uf %>
                </div>
                <div class="field">
                    <%= f.label :'Pais' %><br>
                        <%= f.text_field :pais %>
                </div>
                <div class="control-group controls">
                    <%= f.submit class: 'btn btn-primary' %>
                </div>
    </div>
    <% end %>