<p id="notice"><%= notice %></p>

<p>
  <strong>Endereco:</strong>
  <%= @endereco.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @endereco.numero %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @endereco.cep %>
</p>

<p>
  <strong>Parceiroproduto:</strong>
  <%= @endereco.parceiroproduto_id %>
</p>

<p>
  <strong>Visitanteinteressado:</strong>
  <%= @endereco.visitanteinteressado_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @endereco.user_id %>
</p>

<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
