<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @perfil.descricao %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @perfil.profissao %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @perfil.objetivo %>
</p>

<p>
  <strong>User:</strong>
  <%= @perfil.user_id %>
</p>

<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfils_path %>
