<%= form_for(@produto, html: { class: 'form-horizontal' }) do |f| %>

    <div class="row">
        <% if @produto.errors.any? %>
            <div class="alert alert-error">
                <h3>
                    <%= pluralize(@produto.errors.count, "error") %> prohibited this job from being saved:</h3>

                <ul>
                    <% @produto.errors.full_messages.each do |msg| %>
                        <li>
                            <%= msg %>
                        </li>
                        <% end %>
                </ul>
            </div>
            <% end %>

                <div class="control-group">
                    <%= f.label :'Descrição do Produto', class: 'control-label' %>
                        <div class="controls">
                            <%= f.text_field :descricao%>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :'Descrição Completa do Produto', class: 'control-label' %>
                        <div class="controls">
                            <%= f.text_area :descricaocompleta, class: 'controls-area' %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :'Módulo', class: 'control-label' %>
                        <div class="controls">
                            <%= f.collection_select :modulo_id, @modulos, :id, :descricao, {}, class: 'form-control ', rows: 5 %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :'Preço de Venda', class: 'control-label' %>
                        <div class="controls">
                            <%= f.number_field :preco_venda%>
                        </div>
                </div>
                <div class="control-group">
                    <div class="control-group">
                        <%= f.label :'Margem', class: 'control-label' %>
                            <div class="controls">
                                <%= f.number_field :margem_bruta %>
                            </div>
                    </div>
                    <%= f.label :'Preço de Custo', class: 'control-label' %>
                        <div class="controls">
                            <%= f.number_field :preco_custo,  step: '0.01' %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :'Grupo de Projetos', class: 'control-label' %>
                        <div class="controls">
                            <%= f.collection_select :grupo_id, @grupos, :id, :descricao, {}, class: 'form-control ', rows: 5 %>
                        </div>
                </div>

                <div class="control-group">
                    <%= f.label :'Tipo de Projeto', class: 'control-label' %>
                        <div class="controls">
                            <%= f.collection_select :tipoprojeto_id, @tipo_projeto, :id, :tipo, {}, class: 'form-control ', rows: 5 %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :'Plataforma', class: 'control-label' %>
                        <div class="controls">
                            <%= f.collection_select :plataforma_id, @plataforma, :id, :plataforma, {}, class: 'form-control ', rows: 5 %>
                        </div>
                </div>
                <div class="control-group">
                    <%= f.label :'Classificações do Projeto', class: 'control-label' %>
                        <div class="controls">
                            <%= f.collection_select :classificacoe_id, @classificacoes, :id, :descricao, {}, class: 'form-control ', rows: 5 %>
                        </div>
                </div>
                <div class="check-box">
                    <%= f.check_box :gestao, class: 'check-box2' %>
                        <%= f.label :'Gestao' %>
                </div>
                <div class="check-box">
                    <%= f.check_box :estoque, class: 'check-box2' %>
                        <%= f.label :'Estoque' %>
                </div>


                <div class="check-box">
                    <%= f.check_box :compra, class: 'check-box2' %>
                        <%= f.label :'Compras' %>
                </div>
                <div class="check-box">
                    <%= f.check_box :venda, class: 'check-box2' %>
                        <%= f.label :'Vendas' %>
                </div>


                <div class="check-box">
                    <%= f.check_box :ecommerce, class: 'check-box2' %>
                        <%= f.label :'E-commerce' %>
                </div>
                <div class="check-box">
                    <%= f.check_box :infraestrutura, class: 'check-box2' %>
                        <%= f.label :'Infraestrutura' %>
                </div>
                <div class="check-box">
                    <%= f.check_box :jogos, class: 'check-box2' %>
                        <%= f.label :'Jogos' %>
                </div>
                <div class="control-group controls">
                    <%= f.submit class: 'btn btn-primary' %>

                </div>

                <% end %>