r
<div class="container">

<%= form_for(@produto) do |f| %>
 <div class="row">
  <% if @produto.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(@produto.errors.count, "error") %> prohibited this job from being saved:</h3>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :'Descrição do Produto', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :descricao %>
  
  </div>
 <div class="control-group">
    <%= f.label :'Código de Barra', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :codbarra %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :'Código do Fabricante', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :codfabrica %>
    </div>
    </div>
   <div class="control-group">
    <%= f.label :Unidade, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :unidade %>
    </div>
    </div>
   <div class="control-group">
    <%= f.label :Grupos, class: 'control-label' %>
    <div class="controls">
    <%= f.collection_select :grupo_id, @grupos, :id, :descricao, {}, class: 'form-control ', rows: 5 %>
    </div>
    </div>
    <div class="control-group">
    <%= f.label :Marcas, class: 'control-label' %>
    <div class="controls">
    <%= f.collection_select :marca_id, @marcas, :id, :descricao, {}, class: 'form-control ', rows: 5 %>
    </div>
    </div>
    <div class="control-group">
    <%= f.label :Classificações, class: 'control-label' %>
    <div class="controls">
    <%= f.collection_select :classificacoe_id, @classificacoes, :id, :descricao, {}, class: 'form-control ', rows: 5 %>
    </div>
    </div>
    <div class="control-group controls">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  
<% end %>
</div>
</div>