<%= form_for(@empresa, html: { class: 'form-horizontal' }) do |f| %>
    <div class="row">
        <% if @empresa.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

                <ul>
                    <% @empresa.errors.full_messages.each do |message| %>
                        <li>
                            <%= message %>
                        </li>
                        <% end %>
                </ul>
            </div>
            <% end %>

                <div class="control-group">
                    <%= f.label :razsocial %><br>
                        <%= f.text_field :razsocial %>
                </div>
                <div class="control-group">
                    <%= f.label :cnpj %><br>
                        <%= f.text_field :cnpj %>
                </div>
                <div class="control-group">
                    <%= f.label :fantasia %><br>
                        <%= f.text_field :fantasia %>
                </div>
                <div class="control-group">
                    <%= f.label :data_contrato %><br>
                        <%= f.date_select :data_contrato %>
                </div>
                <div class="control-group">
                    <%= f.label :data_vencimento %><br>
                        <%= f.date_select :data_vencimento %>
                </div>
                <div class="control-group">
                    <%= f.label :token %><br>
                        <%= f.text_field :token %>
                </div>
                <div class="control-group">
                    <%= f.label :valor %><br>
                        <%= f.text_field :valor %>
                </div>
                <div class="control-group">
                    <%= f.label :status_id %><br>
                        <%= f.number_field :status_id %>
                </div>
                <div class="control-group">
                    <%= f.label :tipo_id %><br>
                        <%= f.number_field :tipo_id %>
                </div>
                <div class="control-group">
                    <%= f.submit class: 'btn btn-primary' %>
                </div>
                <% end %>