<section class="content-header">

    <div class="box-produtos">
        <div class="box-header">
            <h3 class="box-title">Empresa</h3>

            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <!-- /.box-header -->
    <div class="box box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Razão Social</th>
                <th>CNPJ</th>
            </tr>

            <% @empresas.each do |empresa| %>
                <%if current_user.empresa_id == empresa.id %>
                    <tr>
                        <td>
                            <%= empresa.id %>
                        </td>
                        <td>
                            <%= empresa.razsocial %>
                        </td>
                        <td>
                            <%= empresa.cnpj %>
                        </td>
                        <td>
                            <%= link_to 'Visualizar'%>
                        </td>
                        <td>
                            <%= link_to 'Alterar', edit_empresa_path(empresa.id)%>
                        </td>
                        <td>
                            <%= link_to 'Excluir', empresa, data: { confirm: 'Are you sure?' } %>
                        </td>
                    </tr>
                    <%end%>
                        <%end%>
        </table>

        <!-- /.box-body -->
    </div>
</section>